**QUESTION 1**

```
Create a new column in the provided dataset. Column name should be num_of_cast. The assignment was already explained in class. You have to append or add a column in the dataset which contains the total number of cast in that particular movie or Tv-Show.
```

In [ ]:
import pandas as pd
import numpy as np

In [56]:
data = pd.read_csv("/content/drive/MyDrive/netflix_data.csv")
data.head()

  show_id  ...             genre
0      s1  ...  International TV
1      s2  ...            Dramas
2      s3  ...     Horror Movies
3      s4  ...            Action
4      s5  ...            Dramas

[5 rows x 11 columns]

**REPLACING NAN BY NONE**

In [ ]:
data["cast"] = data['cast'].replace(np.nan, "None")

**GETTING NO OF ROWS IN A VARIABLE**

In [58]:
index = data.index
number_of_rows = len(index)
print(number_of_rows)

7787

**FOR LOOP TO ADD CAST OF A PARTICULAR ROW IN A NUM OF CAST COLUMN**

In [73]:
for i in range(0,number_of_rows):

  arr = data.loc[i,"cast"].split(", ")
  data['num_of_cast'][i]=len(arr)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

**NUM OF CAST COLUMN IS ADDED WITH A TOTAL CAST OF ROW**

In [80]:
#data.drop(num_of_cast[i])
data.head()

  show_id     type  ...             genre num_of_cast
0      s1  TV Show  ...  International TV          11
1      s2    Movie  ...            Dramas           6
2      s3    Movie  ...     Horror Movies           9
3      s4    Movie  ...            Action           9
4      s5    Movie  ...            Dramas          12

[5 rows x 12 columns]

**VERIFICATION OF WORKING OF FOR LOOP**

In [79]:
arr0= data.loc[0,"cast"].split(", ")
print(len(arr0))
arr1= data.loc[1,"cast"].split(", ")
print(len(arr1))
arr2= data.loc[2,"cast"].split(", ")
print(len(arr2))
arr3= data.loc[3,"cast"].split(", ")
print(len(arr3))
arr4= data.loc[4,"cast"].split(", ")
print(len(arr4))

11
6
9
9
12

**QUESTION 2**

```
In the provided dataset count how many number of tv-shows and movies of each genre are there using group by or whichever other method you see fit.
```

In [93]:
s=data.groupby("type").size()
print(s)

type
Movie      5377
TV Show    2410
dtype: int64